.layout-admin {
  transition: all var(--el-transition-duration)
    var(--el-transition-function-ease-in-out-bezier);

  &.aside-dark,
  &.aside-lean-dark {
    .el-aside {
      border-color: #262a3c !important;
    }
  }

  .el-drawer__body {
    padding: 0 !important;
  }
}

.layout-admin-aside {
  transition: all var(--el-transition-duration)
    var(--el-transition-function-ease-in-out-bezier);

  &.aside-dark,
  &.aside-lean-dark {
    background-color: #262a3c;
    .layout-admin-logo .name {
      color: var(--el-color-white) !important;
    }
  }
}

.layout-admin-menu {
  .el-menu {
    width: 100% !important;
    transition: all var(--el-transition-duration)
      var(--el-transition-function-ease-in-out-bezier);
  }

  .el-menu.el-menu--collapse {
    .el-sub-menu__title {
      justify-content: center;
    }
  }

  .el-menu.el-menu--vertical {
    background-color: var(--wings-menu-bg-color);
  }

  .el-menu.el-menu--horizontal {
    .el-sub-menu__title {
      border-bottom: none;
    }
  }

  .el-sub-menu {
    .el-menu {
      color: var(--wings-menu-text-color);
      background-color: var(--wings-menu-inline-bg-color);
    }

    .el-sub-menu__title {
      color: var(--wings-menu-text-color);

      &:hover {
        color: var(--wings-menu-text-color-hover);
        background-color: var(--wings-menu-bg-color-hover);
      }
    }
  }

  .el-menu-item {
    color: var(--wings-menu-text-color);

    &:hover {
      color: var(--wings-menu-text-color-hover);
      background-color: var(--wings-menu-bg-color-hover);
    }

    &.is-active {
      color: var(--wings-menu-text-color-active) !important;
      background-color: var(--wings-menu-bg-color-active) !important;
    }
  }

  &.el-menu--horizontal {
    border-bottom: none;
  }

  &.el-menu--popup-container {
    .el-menu-item {
      color: var(--wings-menu-text-color);

      &:hover {
        color: var(--wings-menu-text-color-hover);
        background-color: var(--wings-menu-bg-color-hover);
      }

      &.is-active {
        color: var(--wings-menu-text-color-active) !important;
        background-color: var(--wings-menu-bg-color-active) !important;
      }
    }

    .el-sub-menu {
      .el-menu {
        background-color: var(--el-menu-bg-color);
      }
    }
  }

  &.square {
    .el-menu {
      padding: 0;
      border-radius: 0;

      .el-sub-menu__title {
        margin-bottom: 0;
        border-radius: 0;
      }
    }

    .el-menu-item {
      margin-bottom: 0;
      border-radius: 0;
    }

    .el-sub-menu {
      margin-bottom: 0;

      .el-menu.el-menu--inline {
        padding: 0;
      }
    }

    &.el-popper {
      border-radius: 0;
    }
  }

  &.round {
    .el-menu {
      padding: 10px;
      border-radius: var(--wings-menu-radius);

      .el-sub-menu__title {
        margin-bottom: var(--wings-menu-gap);
        border-radius: var(--wings-menu-radius);
      }
    }

    .el-menu-item {
      margin-bottom: var(--wings-menu-gap);
      border-radius: var(--wings-menu-radius);

      &:last-child {
        margin-bottom: 0;
      }
    }

    .el-sub-menu {
      margin-bottom: var(--wings-menu-gap);

      .el-menu.el-menu--inline {
        padding: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.el-popper {
      border-radius: var(--wings-menu-radius);
    }

    .el-menu.el-menu--horizontal {
      .el-sub-menu {
        margin-right: var(--wings-menu-gap);
        margin-bottom: 0;
      }
    }
  }

  &.theme {
    .el-menu.el-menu--horizontal {
      background-color: var(--wings-header-bg-color);

      .el-sub-menu {
        .el-menu {
          color: var(--wings-header-text-color);
          background-color: var(--wings-menu-inline-bg-color);
        }

        .el-sub-menu__title {
          color: var(--wings-header-text-color);

          &:hover {
            color: var(--el-text-color-primary);
            background-color: var(--el-color-info-light-9);
          }
        }

        &.is-active {
          color: var(--el-text-color-primary);
          background-color: var(--el-color-info-light-9);

          .el-sub-menu__title {
            color: var(--el-text-color-primary);
          }
        }
      }
    }
  }

  &.theme.round {
    .el-sub-menu {
      border-radius: var(--wings-menu-radius);
    }
  }

  &.aside-dark,
  &.aside-lean-dark {
    .el-menu.el-menu--vertical {
      background-color: #262a3c;
    }

    .el-sub-menu {
      .el-menu {
        color: var(--el-color-white);
        background-color: #7d7f8a;
      }

      .el-sub-menu__title {
        color: var(--el-color-white);

        &:hover {
          color: var(--wings-menu-text-color-hover);
        }
      }
    }

    .el-menu-item {
      color: var(--el-color-white);

      &:hover {
        color: var(--wings-menu-text-color-hover);
      }
    }

    &.el-menu--popup-container {
      .el-sub-menu__title {
        color: var(--wings-menu-text-color);
      }

      .el-menu-item {
        color: var(--wings-menu-text-color);

        &:hover {
          color: var(--wings-menu-text-color-hover);
        }
      }

      .el-sub-menu {
        .el-menu {
          background-color: var(--el-menu-bg-color);
        }
      }
    }
  }
}

.layout-aside-menu-collapse {
  transition: all var(--el-transition-duration)
    var(--el-transition-function-ease-in-out-bezier);

  &.theme.aside-dark,
  &.theme.aside-lean-dark {
    .el-button {
      transition: all var(--el-transition-duration)
        var(--el-transition-function-ease-in-out-bezier);
      background-color: #7d7f8a !important;
      color: var(--el-color-white) !important;
    }
  }
}
