.wings-cloud-layout-admin {
  transition: all var(--el-transition-duration)
    var(--el-transition-function-ease-in-out-bezier);

  &.wings-cloud-aside-dark,
  &.wings-cloud-aside-lean-dark {
    .el-aside {
      border-right: 1px solid #262a3c !important;
    }
  }

  .el-drawer__body {
    padding: 0 !important;
  }
}

.wings-cloud-layout-admin-aside {
  transition: all var(--el-transition-duration)
    var(--el-transition-function-ease-in-out-bezier);

  &.wings-cloud-aside-dark,
  &.wings-cloud-aside-lean-dark {
    background-color: #262a3c;
    .wings-cloud-layout-admin-logo .name {
      color: var(--el-color-white) !important;
    }
  }
}

.wings-cloud-dark {
  &.wings-cloud-aside-dark,
  &.wings-cloud-aside-lean-dark {
    background-color: var(--wings-cloud-menu-bg-color);
    .el-aside {
      border-right: 1px solid var(--wings-cloud-menu-bg-color) !important;
    }
    .wings-cloud-layout-admin-logo .name {
      color: var(--wings-cloud-menu-text-color) !important;
    }
  }
}

.wings-cloud-layout-admin-menu {
  .el-menu {
    width: 100% !important;
    transition: all var(--el-transition-duration)
      var(--el-transition-function-ease-in-out-bezier);
  }

  .el-menu.el-menu--collapse {
    .el-sub-menu__title {
      justify-content: center;
    }
  }

  .el-menu.el-menu--vertical {
    background-color: var(--wings-cloud-menu-bg-color);
  }

  .el-menu.el-menu--horizontal {
    .el-sub-menu__title {
      border-bottom: none !important;
    }
  }

  &.el-menu--horizontal {
    border-bottom: none;
  }

  .el-sub-menu {
    .el-menu {
      color: var(--wings-cloud-menu-text-color);
      background-color: var(--wings-cloud-menu-inline-bg-color);
    }

    .el-sub-menu__title {
      color: var(--wings-cloud-menu-text-color) !important;

      &:hover {
        color: var(--wings-cloud-menu-text-color-hover) !important;
        background-color: var(--wings-cloud-menu-bg-color-hover) !important;
      }
    }

    &.is-active > .el-sub-menu__title {
      color: var(--el-color-primary) !important;

      &:hover {
        color: var(--wings-cloud-menu-text-color-hover) !important;
      }
    }
  }

  .el-menu-item {
    color: var(--wings-cloud-menu-text-color) !important;

    &:hover {
      color: var(--wings-cloud-menu-text-color-hover) !important;
      background-color: var(--wings-cloud-menu-bg-color-hover) !important;
    }

    &.is-active {
      color: var(--wings-cloud-menu-text-color-active) !important;
      background-color: var(--wings-cloud-menu-bg-color-active) !important;
    }
  }

  &.el-menu--popup-container {
    .el-menu-item {
      color: var(--wings-cloud-menu-text-color) !important;

      &:hover {
        color: var(--wings-cloud-menu-text-color-hover) !important;
        background-color: var(--wings-cloud-menu-bg-color-hover) !important;
      }

      &.is-active {
        color: var(--wings-cloud-menu-text-color-active) !important;
        background-color: var(--wings-cloud-menu-bg-color-active) !important;
      }
    }

    .el-sub-menu {
      .el-menu {
        background-color: var(--el-menu-bg-color);
      }
    }
  }

  &.wings-cloud-square {
    .el-menu {
      padding: 0;
      border-radius: 0;

      .el-sub-menu__title {
        margin-bottom: 0;
        border-radius: 0;
      }
    }

    .el-menu-item {
      margin-bottom: 0;
      border-radius: 0;
    }

    .el-sub-menu {
      margin-bottom: 0;

      .el-menu.el-menu--inline {
        padding: 0;
      }
    }

    &.el-popper {
      border-radius: 0;
    }
  }

  &.wings-cloud-round {
    .el-menu {
      padding: 10px;
      border-radius: var(--wings-cloud-menu-radius);

      .el-sub-menu__title {
        margin-bottom: var(--wings-cloud-menu-gap);
        border-radius: var(--wings-cloud-menu-radius);
      }
    }

    .el-menu-item {
      margin-bottom: var(--wings-cloud-menu-gap);
      border-radius: var(--wings-cloud-menu-radius);

      &:last-child {
        margin-bottom: 0;
      }
    }

    .el-sub-menu {
      margin-bottom: var(--wings-cloud-menu-gap);

      .el-menu.el-menu--inline {
        padding: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.el-popper {
      border-radius: var(--wings-cloud-menu-radius);
    }

    .el-menu.el-menu--horizontal {
      .el-sub-menu {
        margin-right: var(--wings-cloud-menu-gap);
        margin-bottom: 0;
      }
    }
  }

  &.wings-cloud-theme {
    .el-menu.el-menu--horizontal {
      background-color: var(--wings-cloud-header-bg-color);

      .el-sub-menu {
        .el-menu {
          color: var(--wings-cloud-header-text-color);
          background-color: var(--wings-cloud-menu-inline-bg-color);
        }

        .el-sub-menu__title {
          color: var(--wings-cloud-header-text-color) !important;

          &:hover {
            color: var(--el-text-color-primary) !important;
            background-color: var(--el-color-info-light-9) !important;
          }
        }

        &.is-active {
          color: var(--el-text-color-primary) !important;
          background-color: var(--el-color-info-light-9) !important;

          .el-sub-menu__title {
            color: var(--el-text-color-primary) !important;
          }
        }
      }
    }
  }

  &.wings-cloud-theme.wings-cloud-round {
    .el-sub-menu {
      border-radius: var(--wings-cloud-menu-radius);
    }
  }

  &.wings-cloud-aside-dark,
  &.wings-cloud-aside-lean-dark {
    --el-menu-bg-color: #262a3c;
    .el-menu.el-menu--vertical {
      background-color: #262a3c;
    }

    .el-sub-menu {
      .el-menu {
        color: var(--el-color-white) !important;
        background-color: #7d7f8a;
      }

      .el-sub-menu__title {
        color: var(--el-color-white) !important;

        &:hover {
          color: var(--wings-cloud-menu-text-color-hover) !important;
        }
      }

      &.is-active > .el-sub-menu__title {
        color: var(--el-color-primary) !important;

        &:hover {
          color: var(--wings-cloud-menu-text-color-hover) !important;
        }
      }
    }

    .el-menu-item {
      color: var(--el-color-white) !important;

      &:hover {
        color: var(--wings-cloud-menu-text-color-hover) !important;
      }

      &.is-active {
        color: var(--wings-cloud-menu-text-color-active) !important;
      }
    }

    &.el-menu--popup-container {
      .el-sub-menu__title {
        color: var(--el-color-white) !important;
      }

      .el-menu-item {
        color: var(--el-color-white) !important;

        &:hover {
          color: var(--wings-cloud-menu-text-color-hover) !important;
        }

        &.is-active {
          color: var(--wings-cloud-menu-text-color-active) !important;
        }
      }

      .el-sub-menu {
        .el-menu {
          background-color: #262a3c;
        }
      }
    }
  }

  &.wings-cloud-dark {
    --el-menu-bg-color: var(--wings-cloud-menu-bg-color);
    .el-menu.el-menu--vertical {
      background-color: var(--wings-cloud-menu-bg-color);
    }

    .el-sub-menu {
      .el-menu {
        color: var(--wings-cloud-menu-text-color);
        background-color: var(--wings-cloud-menu-inline-bg-color);
      }

      .el-sub-menu__title {
        color: var(--wings-cloud-menu-text-color) !important;

        &:hover {
          color: var(--wings-cloud-menu-text-color-hover) !important;
          background-color: var(--wings-cloud-menu-bg-color-hover) !important;
        }
      }

      &.is-active > .el-sub-menu__title {
        color: var(--el-color-primary-light-3) !important;

        &:hover {
          color: var(--wings-cloud-menu-text-color-hover) !important;
        }
      }
    }

    .el-menu-item {
      color: var(--wings-cloud-menu-text-color) !important;

      &:hover {
        color: var(--wings-cloud-menu-text-color-hover) !important;
        background-color: var(--wings-cloud-menu-bg-color-hover) !important;
      }

      &.is-active {
        color: var(--wings-cloud-menu-text-color-active) !important;
        background-color: var(--wings-cloud-menu-bg-color-active) !important;
      }
    }

    &.el-menu--popup-container {
      .el-menu-item {
        color: var(--wings-cloud-menu-text-color) !important;

        &:hover {
          color: var(--wings-cloud-menu-text-color-hover) !important;
          background-color: var(--wings-cloud-menu-bg-color-hover) !important;
        }

        &.is-active {
          color: var(--wings-cloud-menu-text-color-active) !important;
          background-color: var(--wings-cloud-menu-bg-color-active) !important;
        }
      }

      .el-sub-menu {
        .el-menu {
          background-color: var(--el-menu-bg-color);
        }
      }
    }
  }

  &.wings-cloud-top-lean {
    --el-menu-bg-color: var(--wings-cloud-header-bg-color);
  }
}

.wings-cloud-layout-aside-menu-collapse {
  transition: all var(--el-transition-duration)
    var(--el-transition-function-ease-in-out-bezier);

  &.wings-cloud-theme.wings-cloud-aside-dark,
  &.wings-cloud-theme.wings-cloud-aside-lean-dark {
    .el-button {
      transition: all var(--el-transition-duration)
        var(--el-transition-function-ease-in-out-bezier);
      background-color: #7d7f8a !important;
      color: var(--el-color-white) !important;
    }
  }
}
