:root.dark {
  --wings-header-bg-color: var(--ep-bg-color);
  --wings-header-text-color: #fff;

  --wings-menu-bg-color: #0a0a0a;
  --wings-menu-sub-bg-color: #141414;
  --wings-menu-bg-color-active: var(--ep-color-primary-light-3);
  --wings-menu-bg-color-hover: var(--ep-color-primary-light-3);
  --wings-menu-text-color: var(--ep-text-color-secondary);
  --wings-menu-text-color-active: var(--ep-text-color-primary);
  --wings-menu-text-color-hover: var(--el-text-color-primary);

  --wings-tag-bg-color: var(--el-bg-color);

  --wings-main-fill: var(--ep-bg-color-fill);
}
