:root {
  --wings-header-height: 5rem;
  --wings-header-bg-color: var(--el-color-primary);
  --wings-header-text-color: #fff;

  --wings-aside-width: 14.6rem;
  --wings-aside-width-fold: calc(
    var(--el-menu-item-height) + var(--wings-menu-gap) * 2 +
      var(--el-menu-icon-width)
  );

  --wings-menu-radius: 0.5rem;
  --wings-menu-gap: 0.2rem;
  --wings-menu-bg-color: #fff;
  --wings-menu-sub-bg-color: #e8e8e8;
  --wings-menu-bg-color-active: var(--el-color-primary);
  --wings-menu-bg-color-hover: #e1e1e1;
  --wings-menu-text-color: var(--el-text-color-primary);
  --wings-menu-text-color-active: #fff;
  --wings-menu-text-color-hover: var(--el-text-color-primary);

  --wings-tag-height: 2.4rem;
  --wings-tag-bg-color: #fff;

  --wings-main-fill: var(--el-bg-color-fill);
  --wings-main-padding: 1.4rem;
}
