:root.dark {
  --wings-bg-color-page: var(--ep-bg-color-page);
  --wings-bg-color-header: var(--ep-bg-color-overlay);
  --wings-bg-color-footer: var(--ep-bg-color-overlay);
  --wings-bg-color-sider: var(--ep-bg-color-page);
  --wings-bg-color-main: var(--ep-bg-color-page);
  --wings-bg-color-card: var(--ep-menu-bg-color);

  --wings-text-color-sider: #fff;

  --wings-header-height: 4rem;

  --wings-sider-width: 240px;

  --wings-menu-radius: 0.5rem;
  --wings-menu-gap: 0.2rem;
  --wings-menu-bg: #0a0a0a;
  --wings-menu-sub-bg: #141414;
  --wings-menu-bg-active: var(--ep-color-primary-light-3);
  --wings-menu-bg-hover: var(--ep-color-primary-light-3);
  --wings-menu-text: var(--ep-text-color-secondary);
  --wings-menu-text-active: var(--ep-text-color-primary);
  --wings-menu-text-hover: var(--el-text-color-primary);

  --wings-tag-height: 2.2rem;

  --wings-main-fill: var(--ep-bg-color-fill);
}
