:root.dark {
  --wings-cloud-header-bg-color: var(--el-bg-color) !important;
  --wings-cloud-header-text-color: var(--el-color-white) !important;
  --wings-cloud-header-border-color: var(--el-bg-color) !important;
  --wings-cloud-aside-border-color: var(--el-bg-color-fill);
  --wings-cloud-menu-bg-color: var(--el-bg-color-page);
  --wings-cloud-menu-bg-color-active: var(--el-color-primary-light-3);
  --wings-cloud-menu-bg-color-hover: var(--el-color-primary-light-3);
  --wings-cloud-menu-text-color: var(--el-text-color-secondary);
  --wings-cloud-menu-text-color-active: var(--el-text-color-primary);
  --wings-cloud-menu-text-color-hover: var(--el-text-color-primary);
  --wings-cloud-menu-sub-bg-color: none;
  --wings-cloud-menu-inline-bg-color: var(--el-bg-color);
  --wings-cloud-tab-bg-color: var(--el-bg-color-fill);
  --wings-cloud-tab-border-color: var(--el-bg-color-fill);
  --wings-cloud-main-fill: var(--el-bg-color-fill);
}
