:root.dark {
  --wings-header-bg-color: var(--el-bg-color) !important;
  --wings-header-text-color: var(--el-color-white) !important;
  --wings-header-border-color: var(--el-bg-color) !important;
  --wings-aside-border-color: var(--el-bg-color-fill);
  --wings-menu-bg-color: var(--el-bg-color-page);
  --wings-menu-sub-bg-color: var(--el-bg-color);
  --wings-menu-bg-color-active: var(--el-color-primary-light-3);
  --wings-menu-bg-color-hover: var(--el-color-primary-light-3);
  --wings-menu-text-color: var(--el-text-color-secondary);
  --wings-menu-text-color-active: var(--el-text-color-primary);
  --wings-menu-text-color-hover: var(--el-text-color-primary);
  --wings-tab-bg-color: var(--el-bg-color-fill);
  --wings-tab-border-color: var(--el-bg-color-fill);
  --wings-main-fill: var(--el-bg-color-fill);
}
