:root.dark {
  --wings-header-bg-color: var(--el-bg-color) !important;
  --wings-header-text-color: #fff !important;
  --wings-header-border-bottom-color: var(--el-bg-color) !important;
  --wings-menu-bg-color: #0a0a0a;
  --wings-menu-sub-bg-color: #141414;
  --wings-menu-bg-color-active: var(--el-color-primary-light-3);
  --wings-menu-bg-color-hover: var(--el-color-primary-light-3);
  --wings-menu-text-color: var(--el-text-color-secondary);
  --wings-menu-text-color-active: var(--el-text-color-primary);
  --wings-menu-text-color-hover: var(--el-text-color-primary);
  --wings-tag-bg-color: var(--el-bg-color-overlay);
  --wings-main-fill: var(--el-bg-color-fill);
}
