:root {
  --wings-header-bg-color: var(--el-bg-color) !important;
  --wings-header-text-color: var(--el-text-color-primary) !important;
  --wings-header-border-color: var(--el-border-color) !important;
  --wings-aside-border-color: var(--el-border-color);
  --wings-menu-bg-color: var(--el-bg-color);
  --wings-menu-sub-bg-color: var(--el-color-info-light-9);
  --wings-menu-bg-color-active: var(--el-color-primary);
  --wings-menu-bg-color-hover: var(--el-color-info-light-7);
  --wings-menu-text-color: var(--el-text-color-primary);
  --wings-menu-text-color-active: var(--el-color-white);
  --wings-menu-text-color-hover: var(--el-text-color-primary);
  --wings-tab-bg-color: var(--el-bg-color);
  --wings-tab-border-color: var(--el-border-color);
  --wings-main-fill: var(--el-bg-color-fill);
}
