:root.theme {
  --wings-cloud-header-bg-color: var(--el-color-primary) !important;
  --wings-cloud-header-text-color: var(--el-color-white) !important;
  --wings-cloud-header-border-color: var(--el-color-primary) !important;
  --wings-cloud-aside-border-color: var(--el-border-color);
  --wings-cloud-menu-bg-color: var(--el-color-white);
  --wings-cloud-menu-bg-color-active: var(--el-color-primary);
  --wings-cloud-menu-bg-color-hover: var(--el-color-info-light-7);
  --wings-cloud-menu-text-color: var(--el-text-color-primary);
  --wings-cloud-menu-text-color-active: var(--el-color-white);
  --wings-cloud-menu-text-color-hover: var(--el-text-color-primary);
  --wings-cloud-menu-sub-bg-color: var(--el-color-info-light-9);
  --wings-cloud-menu-inline-bg-color: var(--el-color-info-light-9);
  --wings-cloud-tab-bg-color: var(--el-bg-color);
  --wings-cloud-tab-border-color: var(--el-border-color);
  --wings-cloud-main-fill: var(--el-bg-color-fill);
}
